.collection__heading {
    margin-bottom: 40px;
    color: var(--color-fg-lighter);
}

/* TILE */

.collections__tile {
    padding: 24px;
    border-radius: 16px;
    box-shadow: 16px 16px 24px var(--color-page-shadow),
        -16px -16px 24px var(--color-page-highlight);
    cursor: pointer;
    width: 100%;
    margin-bottom: 32px;
}

.collections__tile:active,
.collections__tile--selected {
    box-shadow: 16px 16px 24px var(--color-page-shadow) inset,
        -16px -16px 24px var(--color-page-highlight) inset;
}

.collections__tile--selected .collections__tile__poems {
    display: block;
}


/* TILE HEADER */
.collections__tile__header {
    display: flex;
    justify-content: space-between;
}

.collections__tile__header__date {
    font-size: var(--font-size-small);
}

/* TILE MARKDOWN */
.collections__tile__content p {
    font-size: var(--font-size-small);
}

/* TILE POEMS */
.collections__tile__poems {
    margin-top: 24px;
    display: none;
}

.collections__tile__poems li {
    margin-top: 24px;
}