.poems {
    font-size: 24px;
}

.poems__heading {
    margin-bottom: 40px;
    color: var(--color-fg-lighter)
}

.poems__link {
    display: block;
    margin-bottom: 16px;
}

.poems__link {
    color: var(--color-olive);
    transition: 0.3s ease-out color;
    font-weight: bold;
}

.poems__link:hover {
    color: var(--color-olive-lighter);
}