#book>.poem {
    border-radius: 48px;
    box-shadow: 24px 24px 32px var(--color-page-shadow),
        -24px -24px 32px var(--color-page-highlight);
}

.poem__body {
    line-height: 1;
    white-space: break-spaces;
    font-size: var(--font-size-body);
    margin-top: 32px;
}

.poem__body__line {
    margin-bottom: 16px;
}

.poem__body__title {
    margin-bottom: 32px;
    font-weight: bold;
    color: var(--color-dark-sienna)
}

.poem__body__blankline {
    height: var(--font-size-body);
}

.poem__date {
    font-size: var(--font-size-small);
    color: var(--color-olive-lighter);
    margin-bottom: 16px;
}

.poem__prevnext {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    cursor: pointer;
}

.poem__prevnext>.poem__prevnext__link--disabled {
    cursor: not-allowed;
    color: var(--color-fg-lighter);
}

.poem__prevnext__link {
    margin-right: 16px;
    text-decoration: none;
}