.poem {
    --font-size-body: 24px;
    line-height: 1;
    white-space: break-spaces;
    font-size: var(--font-size-body);
}

.poem .line {
    margin-bottom: 16px;
}

.poem .title {
    padding-bottom: 8px;
    margin-bottom: 48px;
    font-weight: bold;
    color: var(--color-dark-sienna)
}

.poem .blank-line {
    height: var(--font-size-body);
}

.date {
    font-size: 16px;
    color: var(--color-olive-lighter);
    text-align: left;
}