@import "reset.css";
@import "poem.css";
@import "poems.css";
@import "collections.css";
@import "prose.css";
@import "home.css";

:root {
    --color-fg: #222222;
    --color-fg-lighter: #BFBFBF;
    --color-page: #fef7e5;
    --color-page-shadow: #eee5d3;
    --color-page-highlight: #FFFBF2;
    /* --color-dark-sienna: #38040E; */
    --color-dark-sienna: #990A29;
    --color-olive: #9b9f84;
    --color-olive-lighter: #BEBFB0;
    --font-size-body: 24px;
    --font-size-small: 16px;

    /* You can't defer CSS calc in vars, so we have subvars for neomorph sizes instead */
    --neomorph-large-multiplier: 8;
    --neomorph-tall-large: calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 3px) var(--color-page-shadow),
        calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * 2px) var(--color-page-highlight),
        0 0 0 var(--color-page-shadow) inset,
        0 0 0 var(--color-page-highlight) inset;
    --neomorph-deep-large: 0 0 0 var(--color-page-shadow),
        0 0 0 var(--color-page-highlight),
        calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 3px) var(--color-page-shadow) inset,
        calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * 2px) var(--color-page-highlight) inset;

    --neomorph-small-multiplier: 2;
    --neomorph-tall-small: calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 3px) var(--color-page-shadow),
        calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * 2px) var(--color-page-highlight),
        0 0 0 var(--color-page-shadow) inset,
        0 0 0 var(--color-page-highlight) inset;
    --neomorph-deep-small: 0 0 0 var(--color-page-shadow),
        0 0 0 var(--color-page-highlight),
        calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 3px) var(--color-page-shadow) inset,
        calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * 2px) var(--color-page-highlight) inset;


    --nav-control-width: 40px;
}

/* BODY */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-body);
    color: var(--color-fg);
}

#background {
    display: flex;
    justify-content: center;
    background-color: var(--color-page);
    min-height: 100vh;
}

#book::after {
    transition: background-color 0.3s ease-in-out;
    content: "";
}

#book.nav--active::after {
    content: "";
    display: block;
    position: fixed;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#book {
    width: 1024px;
    padding: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-right: calc(64px - var(--nav-control-width));
}

#book a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
    color: var(--color-olive);

    border-radius: 8px;
    padding: 12px;
    box-shadow: var(--neomorph-tall-small);
    text-decoration: none;
}

#book a:hover {
    color: var(--color-olive-lighter);
}

#book a:active {
    box-shadow: var(--neomorph-deep-small);

}

/* NAVIGATION */

.nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: transform 0.4s ease;
    width: 240px;
    transform: translateX(0);
    height: 100%;
    background-color: var(--color-olive);
    left: -240px;
    z-index: 2;
}

.nav.nav--active {
    transform: translateX(280px);
    color: var(--color-page-highlight);
    box-shadow: 0 4px 6px 3px var(--color-fg);
}

.nav__control {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 100%;
    cursor: pointer;
    background-color: var(--color-olive-lighter);
    color: var(--color-olive);
    transition-property: color, background-color;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.nav__control:hover,
.nav__control.nav--active {
    background-color: var(--color-olive);
    color: var(--color-fg);
}

.nav__control__icon svg {
    width: 24px;
    stroke: currentColor;
}

.nav__control__context {
    width: var(--nav-control-width);
    padding: 8px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__control__heading {
    margin-top: 32px;
    margin-bottom: auto;
    letter-spacing: 16px;
}

.nav__body {
    padding: 32px;
    font-size: var(--font-size-small);
}

@property --offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 0;
}

.nav__body a {
    color: var(--color-page);
    font-weight: bold;
    margin-bottom: 16px;

    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.15em;
    --offset: 8px;
    transition: --offset 400ms, text-decoration-color 400ms;
    display: block;
}

.nav__body__heading {
    margin-bottom: 24px;
}

.nav__body a:hover,
.nav__body a:focus {
    --offset: 4px;
    text-decoration-color: var(--color-dark-sienna);
    color: var(--color-dark-sienna);
}

@supports not (background: paint(something)) {
    .nav__body a {
        transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }

    .nav__body a:hover,
    .nav__body a:focus {
        text-underline-offset: 4px;
    }
}

@media only screen and (min-width: 480px) {
    #book {
        padding-right: 64px;
    }
}