@import "reset.css";
@import "poem.css";
@import "poems.css";
@import "collections.css";

* {
    box-sizing: border-box;
}

:root {
    --color-fg: #222222;
    --color-fg-lighter: #BFBFBF;
    --color-page: #fef7e5;
    --color-page-shadow: #eee5d3;
    --color-page-highlight: #FFFBF2;
    /* --color-dark-sienna: #38040E; */
    --color-dark-sienna: #990A29;
    --color-olive: #9b9f84;
    --color-olive-lighter: #BEBFB0;
    --font-size-body: 24px;
    --font-size-small: 16px;

    /* You can't defer CSS calc in vars, so we have subvars for neomorph sizes instead */
    --neomorph-large-multiplier: 8;
    --neomorph-tall-large: calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 3px) var(--color-page-shadow),
        calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * 2px) var(--color-page-highlight),
        0 0 0 var(--color-page-shadow) inset,
        0 0 0 var(--color-page-highlight) inset;
    --neomorph-deep-large: 0 0 0 var(--color-page-shadow),
        0 0 0 var(--color-page-highlight),
        calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 2px) calc(var(--neomorph-large-multiplier) * 3px) var(--color-page-shadow) inset,
        calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * -2px) calc(var(--neomorph-large-multiplier) * 2px) var(--color-page-highlight) inset;

    --neomorph-small-multiplier: 2;
    --neomorph-tall-small: calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 3px) var(--color-page-shadow),
        calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * 2px) var(--color-page-highlight),
        0 0 0 var(--color-page-shadow) inset,
        0 0 0 var(--color-page-highlight) inset;
    --neomorph-deep-small: 0 0 0 var(--color-page-shadow),
        0 0 0 var(--color-page-highlight),
        calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 2px) calc(var(--neomorph-small-multiplier) * 3px) var(--color-page-shadow) inset,
        calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * -2px) calc(var(--neomorph-small-multiplier) * 2px) var(--color-page-highlight) inset;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-body);
    color: var(--color-fg);
}

#background {
    display: flex;
    justify-content: center;
    background-color: var(--color-page);
    min-height: 100vh;
}

#book {
    width: 1024px;
    padding: 64px;
    margin-top: 64px;
    margin-bottom: 64px;

}

a {
    display: inline-block;
    font-size: var(--font-size-small);
    color: var(--color-olive);

    border-radius: 8px;
    padding: 12px;
    box-shadow: var(--neomorph-tall-small);
}

a:hover {
    color: var(--color-olive-lighter);
}

a:active {
    box-shadow: var(--neomorph-deep-small);

}